<div class="parent">
  <div class="left">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde tenetur commodi neque doloribus repudiandae corrupti assumenda consectetur architecto voluptate veritatis, placeat, laborum magnam adipisci quisquam vel, laboriosam quo aspernatur. Iure.
  </div>
    <div class="right">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laudantium rem excepturi magni perspiciatis impedit repellendus totam molestias doloribus error fugiat, necessitatibus recusandae aperiam sit accusantium nemo hic itaque cumque!
    </div>
  
</div>